/* Custom styles for Pauzyn */
body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
}

/* Style for the user's name in navbar */
.navbar-nav .nav-link span {
    color: #fff;
    font-weight: 500;
}

/* Add some spacing between navbar items */
.navbar-nav .nav-item {
    margin-left: 10px;
}

.modal-counter, 
.modal-navigation {
    display: none; /* Hidden by default */
}

#mediaModal {
    display: none; /* Hidden by default */
}

.modal-navigation {
    display: none; /* Hidden by default */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* Show navigation as flex when visible */
.modal-navigation.visible {
    display: flex;
}

